---
---

.alert {
	margin-left: 3ex;
	margin-right: 3ex;
	position: relative;
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-symbol {
	color: #fff;
	font-weight: 700;
	font-size: 1.25em;
	position: absolute;
	top: -1ex;
	left: -1ex;
	display: inline-block;
	background-color: #31708f;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	margin-right: 1em;
	width: 2.5ex;
	line-height: 2.5ex;
	border: 1px solid transparent;
	border-radius: 50%;
}

.alert-text {
	display: inline;
}

.alert-note {
	line-height: 2em;
	color: #005867;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
