---
---

/* Colors */
$bg: #fffff3;
$clouds: #ecf0f1;

/* Accordion styles */
.tab {
    position: relative;
    line-height: 1.8;
    border-radius: 4px;
    margin-left: 3ex;
    margin-right: 3ex;
    max-width: 99%;
	position: relative;
	color: black;
	overflow: hidden;
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	&-label {
		display: flex;
		justify-content: flex-start;
		padding: 1em;
		background: $bg;
		font-weight: normal;
		cursor: pointer;
		/* Icon */
		&:hover {
			background: darken($bg, 10%);
		}
		&::before {
            transform-origin: center center;
            content: "\25B6";
			width: 1em;
			height: 1em;
			text-align: center;
			transition: all 0.3s;
        }
        &::after{
            display: none;
        }
	}
	&-content {
		max-height: 0;
		padding: 0 1em;
        color: black;
		background: $bg;
		transition: all 0.3s;
	}
	&-close {
		display: flex;
		justify-content: flex-end;
		padding: 1em;
		font-size: 0.75em;
		background: $bg;
		cursor: pointer;
		&:hover {
			background: darken($bg, 10%);
		}
	}
}

input:checked {
	+ .tab-label {
		background: darken($bg, 10%);
		&::before {
			transform: rotate(90deg);
        }
        &::after{
            display: none;
        }
	}
	~ .tab-content {
		max-height: 100vh;
		padding: 1em;
	}
}
