---
---

/* Fonts */
@font-face {font-family: "Go";src: url("{{ site.baseurl}}/assets/Go-Regular.ttf");}
@font-face {font-family: "Go";src: url("{{ site.baseurl}}/assets/Go-Bold.ttf");font-weight: bold;}
@font-face {font-family: "Go";src: url("{{ site.baseurl}}/assets/Go-Italic.ttf");font-style: italic;}
@font-face {font-family: "Go Medium";src: url("{{ site.baseurl}}/assets/Go-Medium.ttf");}
@font-face {font-family: SAX2;src: url("{{ site.baseurl}}/assets/SAX2.ttf");}

@media only screen and (max-width: 600px) {
    #navbar {
        display: none;
        width: 80vw!important;
        position: relative;
        z-index: 1;
    }    
    .urfn{display:none!important;}
    #burgerBut{
        display: block!important;
        float:right;
        z-index:2;
        position:relative;
        padding:1ex;
        height: 5vh;
        border-bottom: none;
    }
    #burgerBut > svg {height:100%;}
    #burgerBut > * {float:right;z-index: 1;}
    body {overflow-x:hidden;}
    #left {display:none;}    
    #right {width:98vw!important;
    left:1ex!important;
    }
    #right > h1 {width: 90%;}
    .pdiv{margin:0!important;}
    .pdiv > *{font-size:1em!important;}    
    .tioOutput{padding:0!important;}    
}

body {
    color:#eceff4;
    font-family: 'Go', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5em;
    margin-bottom: 5em;
    background: #2e3440;
}
button {
    cursor: pointer;
}
pre, code {
    padding: 0.3em 0.3em 0.3em 0.3em;    
    overflow: auto;    
    font-family: SAX2;
    -webkit-text-stroke: .05ex;
    line-height: 1em;
    white-space: pre;    
    z-index: 1;
}
a, a code  {
    color: #eceff4;
}
pre > * {padding: 0;}
pre > * > * {padding: 0;}

a{
    text-decoration: none;
    border-bottom: 0.25ex dotted #eceff4;
    z-index: 2;
}
a:hover {border-bottom: 0.25ex solid currentColor;}



/* menu */

#burgerBut{display:none;}

#navbar {
    line-height: 0;
    width: 14em;
}
#navbar > h1 {
}
#navbar > a, .pbutton{
    color: #eceff4;
    text-align: center;   
    display: block;    
    border-radius: 0;    
    padding: 1.4rem 1.25rem;
    margin-bottom: -1px;
    background-color: #434c5e;
    border: 1px solid #2e3440;
}
#navbar > .pbutton { 
    text-align: left; 
    background: #3b4252; 
    width: 100%;
    padding: 0.8rem 1.4rem 0.8rem 3rem;
    text-indent: -2rem;
}
#navbar > .pbutton span {
    text-indent:0;
    width: 2rem;
    display:inline-block;
}
#navbar > a:hover, #navbar > .pbutton:hover{  
    background-color: #81a1c1;    
}
#navbar > .active{
    background-color: #5e81ac;
    color: #eceff4;
}

/* content */

.course-content {
    top: 2.5em;
    position: relative;
    margin: 0 1vw;
}

#left, #right{ display:inline-block; position:absolute; }
#left { width:17em; left: 0; }
#right {left: 17em; width: calc(100vw - 20em); padding-bottom: 5em;}
.problem {display: none;}
.pdiv {
    margin: 1em;
    display: inline-flex;
    width: 95%;
}
.pdiv > span {
    background: #d8dee9;
    height: 100%;
    display: inline-block;
    padding: 0.5em;
    color: #4c566a;
    font-family: SAX2;
    -webkit-text-stroke: .05ex;
    border-radius: 0.5em 0 0 0.5em;
}
.pdiv > input { 
    flex-grow: 1; 
    margin-right: -0.1em; 
    font-family: SAX2; 
    -webkit-text-stroke: .05ex;
    font-size: 1.5em;
    color: #2e3440;
}
.pdiv > button {
    font-family: "Go Medium";
    font-size: 1.1em; 
    border-radius: 0 0.5em 0.5em 0; 
    color: #eceff4;
    background: #4c566a;
    border: none;    
    cursor: pointer;
    padding: 0 0.5em;
}
.pdiv > button:hover {
    background: #81a1c1;
    transition: 0.2s;
}
.pdiv > button:disabled { 
    color: rgba(0,0,0,0.25); 
    background: #d8dee9; 
    cursor: not-allowed;
}
.tioOutput {padding: 0 1em 0 12em;}

h2, h3, h4 {left: 3vw;}
ol ol {list-style-type: lower-alpha;}
ol ol ol {list-style-type: lower-roman;}
table {border-collapse: collapse;}
table tbody tr td {
    border: solid;
    padding: 0.3em;
}

.language-APL, .APL {
    font-family: SAX2;
    -webkit-text-stroke: .05ex;
}

pre {
    position: relative;
    z-index: 0;
}

/* language bar */

.ngn_lb {
    background-color: #4c566a;
    color: #eceff4;
    cursor: default;
    font-family: SAX2;
    -webkit-text-stroke: .05ex;
    padding: 2px;
    padding-left: 1em;
    word-wrap: break-word;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    box-shadow: 0 0 2px #000;
    z-index: 3;
}

.ngn_lb b {
    cursor: pointer;
    padding: 0 0.125rem;
    font-weight: normal;
    border-radius: 0.125rem;
}

.ngn_lb b:hover,
.ngn_bq .ngn_lb {
    background-color: #81a1c1;
}

.lb~.input-group {
    background: white;
}

.power {
    display: flex;
    margin: -0.5rem 0 1rem 0.5rem;
}

.logo,
#logo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: none!important;
}

.power svg {
    transition: 0.15s;
    height: 2.75em;
    width: 5em;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background: white;
    color: #928abd;
    padding: 0.125rem;
    border: 1px solid #928abd;
}

.power svg:hover {
    background: #928abd;
    color: white;
}

.trans {
    color: transparent;
}

kbd {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}