---
---

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap&text=%E2%86%90|%E2%86%92');
@font-face {font-family: "APL385";src: url("{{ site.baseurl}}/assets/Apl385.ttf");}

@media only screen and (max-width: 600px) {
    #navbar {
        display: none;
        width: 80vw!important;
        position: relative;
        z-index: 1;
    }    
    .urfn{display:none!important;}
    #burgerBut{
        display: block!important;
        float:right;
        z-index:2;
        position:relative;
        padding:1ex;
        height: 5vh;
    }
    #burgerBut > svg {height:100%;}
    #burgerBut > * {float:right;z-index: 1;}
    body {overflow-x:hidden;}
    #left {display:none;}    
    #right {width:98vw!important;
    left:1ex!important;
    }
    #right > h1 {width: 90%;}
    .pdiv{margin:0!important;}
    .pdiv > *{font-size:1em!important;}    
    .tioOutput{padding:0!important;}
}

body {
    color:#555;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 2em;
    margin-bottom: 5em;
}
button {
    cursor: pointer;
}
pre, code {
    color: #000;
    padding: 0.3em 0.3em 0.3em 0.3em;    
    overflow: auto;    
    font-family: "APL385";
    line-height: 1.2em;
    white-space: pre;    
    z-index: 1;
}
a, a code  {
    color: #655aa0;
}
pre > * {padding: 0;}
pre > * > * {padding: 0;}

a{
    text-decoration: none;
    border-bottom: 0.25ex dotted #928abd;
    z-index: 2;
}
a:hover {border-bottom: 0.25ex solid #655aa0;;}



/* menu */

#burgerBut{display:none;}

#navbar {
    line-height: 0;
    width: 14em;
}
#navbar > h1 {
}
#navbar > a, .pbutton{
    color: #000;
    text-align: center;   
    display: block;    
    border-radius: 0;    
    padding: 1.4rem 1.25rem;
    margin-bottom: -1px;
    background-color: #f6f6d9;
    border: 1px solid rgba(0,0,0,.125);
}
#navbar > .pbutton { 
    text-align: left; 
    background: #eae9f3; 
    width: 100%;
    padding: 0.8rem 1.4rem 0.8rem 3rem;
    text-indent: -2rem;
}
#navbar > .pbutton span {
    text-indent:0;
    width: 2rem;
    display:inline-block;
}
#navbar > a:hover, #navbar > .pbutton:hover{  
    background-color: #BBB5D6;    
}
#navbar > .active{
    background-color: #928abd;
    color: white;
}

/* content */

.course-content {
    top: 2.5em;
    position: relative;
    margin: 0 1vw;
}

#left, #right{ display:inline-block; position:absolute; }
#left { width:17em; left: 0; }
#right {left: 17em; width: calc(100vw - 20em); padding-bottom: 5em;}
.problem {display: none;}
.pdiv {
    margin: 1em;
    display: inline-flex;
    width: 95%;
}
.pdiv > span {
    background: #ccc;
    height: 100%;
    display: inline-block;
    padding: 0.5em;
    color: #777;
    font-family: APL385;
    border-radius: 0.5em 0 0 0.5em;
}
.pdiv > input { flex-grow: 1; margin-right: -0.1em; font-family: "APL385"; font-size: 1.5em;}
.pdiv > button {
    font-weight: bold;
    font-size: 1.1em; 
    border-radius: 0 0.5em 0.5em 0; 
    color: #fff;
    background: #090;
    border: none;    
    cursor: pointer;
}
.pdiv > button:hover { background: #0c0; transition: 0.2s;}
.tioOutput {padding: 0 1em 0 12em;}

h2, h3, h4 {left: 3vw;}
ol ol {list-style-type: lower-alpha;}
ol ol ol {list-style-type: lower-roman;}
table {border-collapse: collapse;}
table tbody tr td {
    border: solid;
    padding: 0.3em;
}

.language-APL {font-family: APL385;}

/* language bar */

.ngn_lb {
    background-color: #eae9f3;
    color: #555;
    cursor: default;
    font-family: "APL385";
    padding: 2px;
    padding-left: 1em;
    word-wrap: break-word;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    box-shadow: 0 0 2px #000;
    z-index: 3;
}

.ngn_lb b {
    cursor: pointer;
    padding: 0 0.125rem;
    font-weight: normal;
    border-radius: 0.125rem;
}

.ngn_lb b:hover,
.ngn_bq .ngn_lb {
    background-color: #928abd;
    color: #fff
}

.lb~.input-group {
    background: white;
}

.power {
    display: flex;
    margin: -0.5rem 0 1rem 0.5rem;
}

.logo,
#logo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: none!important;
}

.power svg {
    transition: 0.15s;
    height: 2.75em;
    width: 5em;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background: white;
    color: #928abd;
    padding: 0.125rem;
    border: 1px solid #928abd;
}

.power svg:hover {
    background: #928abd;
    color: white;
}

#gcaptcha:hover path:nth-child(2) {
    fill: #2a57fe;
}

#gcaptcha:hover path:nth-child(2) {
    fill: #63c8ff
}

#gcaptcha:hover path:nth-child(3) {
    fill: #ffffff;
}

.trans {
    color: transparent;
}

.jBox-Tooltip {
    font-family: "APL385 Unicode";
}

.jBox-Tooltip pre.APL {
    margin-bottom: 0;
}

.jBox-Tooltip p {
    margin-bottom: 0;
    text-align: center;
}

.ngn_tth {
    color: #ed7f00;
    font-size: 150%;
    margin: -0.25em;
}

kbd,
.jBox-Tooltip span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}