<div id="navbar">
    <script>         
        C=q=>history.replaceState({},document.title,location.pathname+(q?"?goto="+encodeURIComponent(q):""));
        window.onload = function(){    
            document.addEventListener("keypress", function(k){
                if ((k.key === "Enter") && (document.activeElement.tagName === "INPUT")){                    
                    submitSolution(document.activeElement.id.split("_").slice(0,-1).join("_"));
                }
            })                
            let p = document.querySelectorAll(".problem");p[0].style.display = "block";
            let b = document.querySelectorAll(".pbutton");b[0].classList.add("active");            
            let pt = document.querySelectorAll("h1");
            for (i=0; i<b.length; i++){ b[i].innerHTML = pt[i].innerHTML.replace(/\d+: /,(x=>("<span class='pnum'>"+x+"</span>"))) };     
            document.title = {{ page.title }} + "-" + pt[0].innerHTML + " - APL Quest";            
            s=new URLSearchParams(location.search) // Options from URL 
            console.log(s.get("goto"))
            if (expr = s.get("goto")) {show(expr)};
            p.forEach(fn=pbm=>{
                var pdiv = document.createElement("div");    
                pdiv.classList.add("pdiv");               
                var your_fn = document.createElement("span");
                your_fn.classList.add("urfn");
                your_fn.innerHTML = "your_function ← "
                var pi = document.createElement("input");
                pi.id = pbm.id + "_Input"; 
                pi.oninput = function(e){
                    e.target.parentElement.querySelector("button").disabled = false
                }                            
                var sub = document.createElement("button");
                sub.onclick = function(e){
                    submitSolution(pbm.id);
                }
                sub.innerHTML = "Test";                
                var odiv = document.createElement("div")
                odiv.classList.add("tioOutput");
                odiv.id = pbm.id + "_Output";
                pdiv.append(your_fn);
                pdiv.append(pi);
                pdiv.append(sub);                
                pbm.append(pdiv);
                pbm.append(odiv);                
            });
            loadTestCases("{{ page.title }}");
        }
        function show(id) {
            let p = document.querySelectorAll(".problem");
            let b = document.querySelectorAll(".pbutton"); 
            let pt = document.querySelectorAll("h1");           
            for (let i=0; i<p.length; i++){                
                if (id == p[i].id) {
                    p[i].style.display = "block";
                    b[i].classList.add("active");
                    document.title = {{ page.title }} + "-" + pt[i].innerHTML + " - APL Quest";
                    console.log(b[i]);
                } else {
                    p[i].style.display = "none";
                    b[i].classList.remove("active");
                }
            }
        }
    </script>    
	<a id="home" href="{{ site.url }}{{ site.baseurl }}">Home</a>
	<br>
    {% assign alls = site.psets | sort %}
    {% assign sets = alls | slice: -2 | reverse | concat: alls | slice: -2 %}
    {% for pset in sets %}        
        {% if pset.title == page.title %}
            <br><a href="{{ site.baseurl }}{{ pset.url }}" class="active">{{ pset.title }}</a>
            {% for p in page.problems %}                
                <br><button class="pbutton" onclick="C('{{p}}');show('{{ p }}')">
                    {{ p }}
                </button>                
            {% endfor %}                
        {% else %}
            <br><a href="{{ site.url }}{{ site.baseurl }}{{ pset.url }}">{{ pset.title }}</a>
        {% endif %}
    {% endfor %}
    
    
</div>
