<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="{{ site.baseurl }}/img/favicon.png" sizes="64x64">
        <title>Learn Dyalog APL</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <script type="text/javascript" src="{{ site.baseurl }}/lib/pako.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/lib/tio-dyalog.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/lib/test.js"></script>
        <script>            
            var testCases;
            async function loadTestCases(ptitle){
                console.log(ptitle);
                testCases = await fetch("{{ site.url }}{{ site.baseurl }}/testcases/" + ptitle + ".json").then(function(response){return response.json()});
            }
        </script>
    </head>
    <body>
        <div id="left">   
            {% include navbar.html %}
        </div>
        <div id="right">
           {{ content }}           
        </div>  
        <script src='{{ site.baseurl }}/lib/lb.js'></script>
    </body>
</html>
